---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14fbOHIkCwY7eCwzoAoZ7zvJ
    headers:
      Authorization:
      - Bearer sk_test_C6wzEU0Joyg0qwMFtP0gdnpS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14fbOIIkCwY7eCwzb0nGYDS4"
          }
        }
  recorded_at: Mon, 22 Sep 2014 18:18:26 GMT
recorded_with: VCR 2.9.3
