---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_C6wzEU0Joyg0qwMFtP0gdnpS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14n8c1IkCwY7eCwzFq3KGbzB",
          "livemode": false,
          "created": 1413205905,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14n8c1IkCwY7eCwz0tJNTumq",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2015,
            "fingerprint": "kmQKEVG7aMxzevF1",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Mon, 13 Oct 2014 13:11:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14n8c1IkCwY7eCwzFq3KGbzB&plan=myflix&email=orion_wilkinson%40kuvalisbeatty.net
    headers:
      Authorization:
      - Bearer sk_test_C6wzEU0Joyg0qwMFtP0gdnpS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1413205906,
          "id": "cus_4x2hib9MSwf9BA",
          "livemode": false,
          "description": null,
          "email": "orion_wilkinson@kuvalisbeatty.net",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4x2hib9MSwf9BA/subscriptions",
            "data": [
              {
                "id": "sub_4x2hNcNYWdE6UU",
                "plan": {
                  "interval": "month",
                  "name": "MyFlix Plan",
                  "created": 1412688158,
                  "amount": 999,
                  "currency": "usd",
                  "id": "myflix",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "Myflix"
                },
                "object": "subscription",
                "start": 1413205906,
                "status": "active",
                "customer": "cus_4x2hib9MSwf9BA",
                "cancel_at_period_end": false,
                "current_period_start": 1413205906,
                "current_period_end": 1415884306,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4x2hib9MSwf9BA/cards",
            "data": [
              {
                "id": "card_14n8c1IkCwY7eCwz0tJNTumq",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 9,
                "exp_year": 2015,
                "fingerprint": "kmQKEVG7aMxzevF1",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4x2hib9MSwf9BA"
              }
            ]
          },
          "default_card": "card_14n8c1IkCwY7eCwz0tJNTumq"
        }
  recorded_at: Mon, 13 Oct 2014 13:11:47 GMT
recorded_with: VCR 2.9.3
