---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=9&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_C6wzEU0Joyg0qwMFtP0gdnpS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14n8buIkCwY7eCwzisbIjEBE",
          "livemode": false,
          "created": 1413205898,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14n8buIkCwY7eCwzEyrf0S9t",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2015,
            "fingerprint": "FZQcNxuxa49ZXORB",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Mon, 13 Oct 2014 13:11:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14n8buIkCwY7eCwzisbIjEBE
    headers:
      Authorization:
      - Bearer sk_test_C6wzEU0Joyg0qwMFtP0gdnpS
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14n8bvIkCwY7eCwz63qjry7Z"
          }
        }
  recorded_at: Mon, 13 Oct 2014 13:11:39 GMT
recorded_with: VCR 2.9.3
